{{> head }}

    {{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>Itachi</h1>
            <p>
                El mejor ninja de Konoha
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/itachi.jpg" class="img-thumbnail">
        </div>

    </div>


    {{> footer }}